# Object files
*.o

# Executables
*.out
*.exe
rpg
creator
*-build-*

# Editor files
*~

# Backup files
*.tar.gz

# Uneeded IDE "Project" files. This does not include Qt Creator's .pro file.
*.dev
*.win
*.pro.user

